# ======================
# Data
# ======================

data/


# ======================
# Models
# ======================

models/


# ======================
# Vector database
# ======================

vectorstore/


# ======================
# Python cache
# ======================

__pycache__/
*.pyc
*.pyo


# ======================
# IDE
# ======================

.vscode/
.idea/


# ======================
# Environment
# ======================

.env
.venv/
venv/


# ======================
# Logs
# ======================

*.log